* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

nav {
    display: flex;
    margin: 20px;
    height: 10vh;
}

nav img {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
}

nav span {
    display: flex;
    margin-left: 20px;
    text-align: center;
    justify-content: center;
}

nav span img {
    height: 30px;
    width: 30px;
    margin-top: 8px;
}

nav .left {
    margin-right: 0px;
    border-radius: 40px 0px 0px 40px;
    background-color: rgb(75, 74, 74);
    height: 50px;
    
}

nav .right {
    margin-left: 0px;
    background-color: rgb(75, 74, 74);
    border-radius: 0px 40px 40px 0px;
    height: 50px;
}

nav input {
    background-color: rgb(75, 74, 74);
    width: 20vw;
    height: 50px;
    border: none;
    /* margin: 10px 0; */
    /* border-radius: 20px; */
}

nav ul li {
    list-style: none;
    display: inline-block;
}

.line {
    margin: 10px;
    filter: invert(1);
    height: 30px;
    width: 20px;
}

.nav-list-left {
    margin-left: 70px;
}

.nav-list-left li {
    margin: 10px;
}

.nav-list-right li {
    display: flex;
    align-items: center;
    list-style: none    ;
}
.nav-list-right{
    margin-top: 0px;
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
    gap: 20px;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1.5px solid white;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}

.log-in {
    color: black;
    background-color: white;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-weight: 750;
}
.box{
    display: flex;
    box-sizing: border-box;
}
.sidebar {
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
    margin: 0 10px;
    width: 20vw;
    padding: 10px;
    max-height : 80vh;
    position: relative;
}
.container {
    margin: 0 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(22, 22, 22);
    width: 70vw;
    height: 100vh;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.heading span{
    font-size: 30px;
}
.footer{
    position: absolute;
    bottom: 0;
    display:flex;
    flex-wrap: wrap;
    gap: 8px 12px;
    flex-direction: row;
    font-size: 12px;
}
.footer a{
    color:grey;
    text-decoration: none;
    gap: 10px;
}