* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

nav {
    display: flex;
    margin: 20px;
}

nav img {
    margin: 10px;
    width: 40px;
    height: 40px;
}

nav span {
    display: flex;
    margin-left: 20px;
    text-align: center;
    justify-content: center;
}

nav span img {
    height: 30px;
    width: 30px;
}

nav .left {
    margin-top: 10px;
    margin-right: 0px;
    border-radius: 40px 0px 0px 40px;
    background-color: rgb(75, 74, 74);
    height: 50px;
    
}

nav .right {
    margin-top: 10px;
    margin-left: 0px;
    background-color: rgb(75, 74, 74);
    border-radius: 0px 40px 40px 0px;
    height: 50px;
}

nav input {
    background-color: rgb(75, 74, 74);
    width: 20vw;
    height: 50px;
    border: none;
    margin: 10px 0;
    /* border-radius: 20px; */
}

nav ul li {
    list-style: none;
    display: inline-block;
}

.line {
    filter: invert(1);
    height: 30px;
    width: 20px;
    margin-top: 20px;
}

.nav-list-left {
    margin-left: 70px;
    margin-top: 10px;
}

.nav-list-left li {
    margin: 10px;
}

.nav-list-right li {
    margin: 10px;
    display: inline-block;
}

.nav-list-right img {
    height: 20px;
    width: 20px;
    filter: invert(1);
}

.installing {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.log-in {
    color: black;
    background-color: white;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-weight: 750;
}
.box{
    display: flex;
}
.sidebar {
    background-color: rgb(212, 198, 198);
    width: 20vw;
    height: 100vh;
}
.container {
    background-color: rgb(0, 0, 0);
    width: 80vw;
    height: 100vh;
}