*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;

}
.main{
    background-image: url(bg.jpg);
    height: 95vh;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.main .box{
    height: 95vh;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
}
.main ul{
    display: flex;
    list-style: none;
}
nav{
    width: 90vw;
    height: 70px;
    position: relative;
    z-index: 1;
    
}
nav span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
nav img{
    height: 100px;
    width: 60px;
}
nav ul{
    gap: 15px;
}
nav button{
    padding: 10px 15px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
}
.lang{
    background-color:transparent ;
    border: gray 1px solid;
    color: white;
}
.signIn{
    background-color: red;
    color: white;
}
.signIn:hover{
    opacity: 0.8;
    cursor: pointer;
}